[Unit]
Description=Client stats
After=network-online.target

[Service]
Type=simple
User=ethereum
Group=ethereum
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true
MemoryDenyWriteExecute=true
EnvironmentFile=/home/ethereum/.client-stats.env
ExecStart=/home/ethereum/.local/bin/eth2-client-metrics-exporter-linux-arm64 --server.address=https://beaconcha.in/api/v1/client/metrics?apikey=$BEACONCHAIN_API_KEY --beaconnode.type=prysm --beaconnode.address=http://localhost:8080/metrics
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
